{% extends 'tasks/layouts/base.html' %}
{% block body %}
<form method='POST' action='/' class="mb-3">
    {% csrf_token %}
    {{form.title}}
    </from>
    {% for task in tasks %}
    <hr>
    <div class="text-justify mt-2 d-flex mt-3">
        {% if task.done %}
        <strike class="w-75 p-2">{{ task }}</strike>
        {% else %}
        <p class="w-75 p-2 mb-0" id="p">{{ task }}</p>
        {% endif %}
        <div class="ml-auto btn-group btn-group-sm">
            <a class=".text-dark btn btn-outline-success" href='{% url 'update' task.id %}'>update</a>
            <a class=".text-dark btn btn-outline-danger" href='{% url 'delete' task.id %}'>delete</a></button>
        </div>
    </div>
    {% endfor %}
    {% endblock body %}